.navbar {
    padding: 1em;
}

.bg-light{
    background-color:#FFFFFF !important ;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--preto);
    margin: 0 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--link-hover);
}

.container{
    padding-top:30px;
    width: 100%;
    height: 100%;
}

.navbar #conteudoNavbarSuportado .nav-item .nav-link{
    padding: 10px 25px;
}

.navbar #conteudoNavbarSuportado .nav-item .nav-link #arrow{
    padding-bottom:2px ;

}
.navbar #conteudoNavbarSuportado .nav-item .nav-link,.navbar .navbar-brand  {
    color:var(--preto);
}
.navbar #conteudoNavbarSuportado .nav-item .nav-link:hover, .navbar .navbar-brand:hover  {
    color: var(--link-hover);
}

.container  #img-fluid {
    margin-top: 60px;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container  #img-fluid img{
    margin: auto; 
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);


}

.container {
    margin-top: 30px;
    color: var(--preto)!important;
    width:100%;
    padding-left:5%;
    text-align: center;
    padding-bottom: 250px;

}
.container .jobs-info {
    padding-right: 15px;
}

.container #job-desc {
    text-align: left;
}

.container h1{
    color:var(--preto);
    padding-bottom: 10px;
    text-align: center;
}

.container .bold{
    font-weight: bold;
    padding-top: 10px;
}

.container #job-email{
    padding-top: 20px;
}

.container #job-email a {
    text-decoration: none;
    color: var(--secondary-color);
}

.container #job-email a:hover {
    color: var(--primary-color);
}

footer{
    border-top: 1px solid var(--secondary-color);
    padding-top:10px ;
    background-color: var(--primary-color);

}



@media(max-width: 980px) {
    .container #img-fluid {
        width: 200px;
        height: 200px;
    
    }

}
@media(max-width: 760px) {
    .container #img-fluid {
        width: 150px;
        height: 200px;
        margin-top: 0;
    
    }
}

@media(min-height: 740px){
    .container{
        padding-top:100px ;
    }
    
    .container {
    padding-bottom: 145px;
    }

}

@media(max-width: 580px) {
    .container #img-fluid {
        width: 100%;
        height: 100%;
        padding:0;

        display: flex;
        justify-content: center;
        align-items: center;



        
    }
.container #img-fluid img{
    width: 80%;
    height: 80%;
    margin: 0 auto;

    }
}

@media(min-height: 590px){
    .container{
        padding-top:80px ;
    }
    
    .container {
    padding-bottom: 140px;
    }

}
@media(max-width: 375px) {
    .container .jobs-info {
        padding-right: 5px;
        font-size: 14px;
    }
    .container #job-desc {
        font-size: 14px;

    }
    .container #job-email{
        padding-top: 10px;
        font-size: 14px;
        
    }
}





